<div class="forabg">
    <div class="inner">
        <ul class="topiclist">
            <li class="header">
                <dl>
                    <dt>
                        <div class="list-inner">Рекламни банери</div>
                    </dt>
                    <dd></dd>
                </dl>
            </li>
        </ul>

        <ul class="topiclist">
            <li class="row bg1">
                <div class="list-inner" style="margin:5px;text-align: center;">

                    <!-- BEGIN adsl -->
                    <a href="{adsl.url}" title="{adsl.name}" class='img-hover' target='_blank'><img src="{adsl.image}" class='img-fluid' alt="{adsl.name} - {adsl.id}"/></a>
                    <!-- END adsl -->

                    <!-- BEGIN adsr -->
                    <a href="{adsr.url}" title="{adsr.name}" class='img-hover' target='_blank'><img src="{adsr.image}" class='img-fluid' alt="{adsr.name} - {adsr.id}"/></a>
                    <!-- END adsr -->

                </div>
            </li>
        </ul>
    </div>
</div>